<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <!-- <class name="Tests.Loginpage_Validations"/> -->
      <class name=""Tests.TC001"/>
      <class name=""Tests.TC002"/>
      <class name=""Tests.TC003"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
